

<ion-content >
  <div class="centro">

<br>
  <br>
  <br>
  <br>
  <ion-grid>

    <ion-row class="ion-justify-content-center">
    
     <!-- <ion-col size="4" >
        <div class="ion-justify-content-between ion-justify-content-end ion-text-center" >
            <img src="assets/img/logo3.png" style="border-radius: 10%; width: 110px;" />
        </div>
        
      </ion-col>-->
      <ion-col size="12">
        <div class="ion-text-end">
          <h1  style="color: rgb(255, 88, 144);font-size: 40px;font-style: italic;margin-top: 57px;">Mujer Segura</h1>
          <p style="font-weight: 200;color: white;font-size: x-large;">Gobierno de Nuevo Laredo</p>
        </div>
    
      </ion-col>
    
    
    
    </ion-row>
   
    <br>
    

 
    <ion-row>
      <ion-col size="4"></ion-col>
      <ion-col size="8">
          <div class="ion-text-end">
            <p style="font-weight: 200;color: white;font-size: x-large;font-style: italic">Conectadas estamos Mejor</p>
          </div>
      </ion-col>
    </ion-row><ion-row>
      <ion-col class="text-center" (click)="iniciar()">
        <ion-button expand="block" shape="round">Iniciar</ion-button>
      </ion-col>
    </ion-row>
    
  </ion-grid>
    </div>
</ion-content>

