ion-content {
    font-family: 'Gotham';
    --background: url('/assets/img/fondoCarmen.png') no-repeat center center / cover;
    background-size: cover;
}

.centro {
  margin-top: 50%;
 text-align: center;
 
  padding: 10px;
}