ion-content{
    --background: var(--ion-background-color, #f1f5f8)
}


ion-avatar{
    --border-radius:5px;
    height: 60px;
    width: 60px;
}

.divRedondo{
       background: white;
      padding: 10px 10px 10px 10px;
      border-radius: 10px 10px 10px 10px;
      margin-top: 5px;
    
}
.redondoIzq{ 
     background: rgb(175, 17, 109);
      padding: 10px 10px 10px 10px;
      border-radius: 10px 0px 0px 10px;
      margin-top: 5px;
    
    
}
.redondoIzq2{ 
     background: rgb(175, 17, 109);
      padding: 0px 0px 0px 0px;
      border-radius: 10px 10px 10px 10px;
      margin-top: 5px;
    
    
}
.redondoDer{ 
     background-color: white;
    //  padding: 10px 10px 10px 10px;
      border-radius: 10px 0px 0px 10px;
   
    
    
}
.redondoDer2 {
    background-color: white;
    //  padding: 10px 10px 10px 10px;
   // border-radius: 10px 10px 10px 10px;



}
.h33{
    font-family: monospace;
    font-weight: bolder;
    color: chocolate;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}
.avatarr{
    --border-radius: 5px;
    height: 60px;
     width: auto;
}

ion-item {
    --padding-end: 0px;
    --inner-padding-end: 0px;
    // here other custom CSS from documentation
}

.icon-big {
    color: #9E2342;
    margin-top: 2px;
}

.icon-big2 {
    color: #9dad09;
    margin-top: 2px;
    zoom: 2;
}